<!-- main app container -->
<div class="card text-center m-3">
    <h3 class="card-header">Angular 9 Pagination Example</h3>
    <div class="card-body">
        <div *ngFor="let item of pageOfItems">{{item.name}}</div>
    </div>
    <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://jasonwatmore.com/post/2020/04/29/angular-9-simple-pagination-example" target="_top">Angular 9 - Simple Pagination Example</a>
    </p>
    <p>
        <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div>